<!doctype html>

<html lang="fr">

<head>
    <title>JO</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="background-image: url('https://d33wubrfki0l68.cloudfront.net/a8eee43eb10c76e6ee179e2638a765fb4d6f69f9/8fc35/static/waves_green-67a53bd9125a2c87657051177a14de2c.jpg');">
    <div style="text-align: center;">
        <h1>J.O. INFO</h1>
        <img  style="width: 350px;height: 100%;"  src="https://lh3.googleusercontent.com/pw/AM-JKLVkRkrVbWkE7We4NXDHcRN8ktXNhIk-0smK9qXY4XV2E8uF-UB8gTZV21CILr6m_z5uf59nbJYOZ8cSrjDFsTUAYwiQoa1EN3_GK-VgbzfAHXtK4BdSrlz0oG035lJp0nnE6FdWkmMPB5Pj4tVr3BTK=w1920-h933-no?authuser=0">    
        <h3 style="padding-bottom: 100px;">Toutes les infos sur les Jeux Olympiques</h3>
        
 

        <h3>Vous êtes bien sur la page d'accueil de {{name}}.</h3>

        <a style="margin: 5px 20px 5px 20px;" id="next" href="/athletes/new" class="btn btn-primary">Ajouter athlete !</a>

    </div> 

</body>

</html>