<div id="container" style="padding-bottom: 100px;">
    <div id="left" class="halfwidthcontainer">
        <div id="left-image" class="image">
            <div class="containerCenterText">
                <a href="/api/sports"><img class="brightnessImg"  src="/assets/img/games.jpg" width="20%" /></a>
                <div class="textCenter">Disciplines</div>
            </div>
        </div>
    </div>
    <div id="right" class="halfwidthcontainer">
        <div id="right-image" class="image">
            <div class="containerCenterText">
            <a href="/api/athletes"><img class="brightnessImg"  src="/assets/img/players.jpg" width="20%" /></a>
            <div class="textCenter">Candidats</div>
            </div>
        </div>
    </div>
</div>






