<!DOCTYPE html>
<html>

<head>
    <title>TweetJS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="background-image: url('https://d33wubrfki0l68.cloudfront.net/a8eee43eb10c76e6ee179e2638a765fb4d6f69f9/8fc35/static/waves_green-67a53bd9125a2c87657051177a14de2c.jpg');">
    {{{body}}}
</body>

</html>